@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --blueTitule: hsl(218, 42%, 38%);
    --darkBlue: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background-color: var(--LightGray);
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Lato', sans-serif;
    font-size: 18px;

    justify-content: center;
    min-height: 100vh;
    padding: 10px 0;
}
.container_form {
    background-color: var(--white);
    border-radius: 10px 0 0 10px;
    color: var(--grayishBlue);
    height: 400px;
    padding: 15px;
    width: 30%;
}
h1 {
    color: var(--darkBlue);
    font-size: 2.2rem;
    font-weight: 900;
    margin: 15px 0;
    text-align: center;
}
.form_trivia {
    display: flex;
    flex-flow: column nowrap;
}
.form_trivia label {
    color: var(--blueTitule);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 5px 0;
}
.form_trivia select {
    border: 1px solid var(--LightGray);
    border-radius: 8px;
    color: var(--grayishBlue);
    font-size: 0.9rem;
    padding: 10px;
    margin: 5px 0;
}
.form_trivia select option {
    color: var(--blueTitule);
    font-size: 1rem;
}
.form_trivia select:hover {
    cursor: pointer;
}
.form_trivia hr {
    align-self: center;
    border-top: 10px;
    width: 100%;
}
.form_trivia button {
    background-color: var(--darkBlue);
    border: 0;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    margin: 10px 0 5px 0;
    padding: 12px;
}
.form_trivia button:hover {
    background-color: var(--blueTitule);
}
.container_trivia {
    background-color: var(--white);
    border-radius: 0 10px 10px 0;
    height: 400px;
    width: 40%;
}